<!DOCTYPE html>
<html ng-app="bloodApp">

<head>

<title>Register Donor</title>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
<script src="app.js"></script>

<link rel="stylesheet" href="style.css">

</head>

<body ng-controller="donorController">

<h1>Donor Registration</h1>

<form ng-submit="addDonor()">

<input type="text" placeholder="Name" ng-model="donor.name" required>

<input type="number" placeholder="Age" ng-model="donor.age">

<input type="text" placeholder="Gender" ng-model="donor.gender">

<input type="text" placeholder="Blood Group" ng-model="donor.blood_group">

<input type="text" placeholder="Phone" ng-model="donor.phone">

<input type="text" placeholder="Address" ng-model="donor.address">

<button type="submit">Register</button>

</form>

</body>
</html>